{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s8">Random Receptas</div>
            <div class="col s4">Siulomas productas</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s4">Top Receptai</div>
            <div class="col s8">
                <div class="carousel carousel-slider center">
                    <div class="carousel-item" href="#one!">
                        <a href="">
                            <h2>First Panel</h2>
                        </a>
                        <p>This is your first panel</p>
                        <img src="https://lorempixel.com/800/400/food/1">
                    </div>
                    <div class="carousel-item amber white-text" href="#two!">
                        <h2>Second Panel</h2>
                        <p class="white-text">This is your second panel</p>
                    </div>
                    <div class="carousel-item green white-text" href="#three!">
                        <h2>Third Panel</h2>
                        <p class="white-text">This is your third panel</p>
                    </div>
                    <div class="carousel-item blue white-text" href="#four!">
                        <h2>Fourth Panel</h2>
                        <p class="white-text">This is your fourth panel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s8">
                <div class="carousel carousel-slider center">
                    <div class="carousel-item" href="#one!">
                        <a href="">
                            <h2>First Panel</h2>
                        </a>
                        <p>This is your first panel</p>
                        <img src="https://lorempixel.com/800/400/food/1">
                    </div>
                    <div class="carousel-item amber white-text" href="#two!">
                        <h2>Second Panel</h2>
                        <p class="white-text">This is your second panel</p>
                    </div>
                    <div class="carousel-item green white-text" href="#three!">
                        <h2>Third Panel</h2>
                        <p class="white-text">This is your third panel</p>
                    </div>
                    <div class="carousel-item blue white-text" href="#four!">
                        <h2>Fourth Panel</h2>
                        <p class="white-text">This is your fourth panel</p>
                    </div>
                </div>
            </div>
            <div class="col 4">Vartotojas</div>
        </div>
    </div>

{% endblock%}